<h3>Add address</h3>

<form>
  <div class="form-group">
    <label for="streetInput">Street</label>
    <input type="text" name="address.street" class="form-control" [(ngModel)]="address.street" (ngModelChange)="isAddressComplete()" id="streetInput" placeholder="Street">
  </div>
  <div class="form-group">
    <label for="zipInput">ZIP code</label>
    <input type="text" name="address.zip" class="form-control" [(ngModel)]="address.zip" (ngModelChange)="isAddressComplete()" id="zipInput" placeholder="ZIP code">
  </div>
  <div class="form-group">
    <label for="cityInput">City</label>
    <input type="text" name="address.city" class="form-control" [(ngModel)]="address.city" (ngModelChange)="isAddressComplete()" id="cityInput" placeholder="City">
  </div>
</form>

<button [ngClass]="{'disabled': !isAddressAvailableBool}" type="button" class="btn btn-primary pull-right" (click)="addAddress()">Add</button>
